:root {
    --background-color: #1EA6C6;
    --font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #0082D5;
    margin: 0px;
    padding: 0px;
}

a {
    color: inherit; /* This will inherit the color from the parent element */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: black;
} 
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex: 1;
    margin: 15px;
    padding-left: 50px;
    color: white;
    
}


.cloud_container {
    position: relative;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hide overflow to see the sliding effect clearly */
}

.cloud {
    position: absolute;
    left: -200;
    display: inline-block; 
    width: 200px;
    height: auto;
    

}
.cloud_image img{
    width: 100%;
    height: auto;
}

.cloud h3 {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;

    color: black;
    transition: color 0.3s;

    
}

.cloud:hover .cloud_label h3 {
    color: var(--background-color);
} 

.cloud_label {
    position: absolute;
    top: 60%;
    left: 25%;
} 

#Portfolio {
    top: 70px;
    z-index: 1;
}

#LinkedIn {
    top: 250px;
    z-index: 1;
    left: 100px;
}

#cloud1 {
    top: 5px;
    left: 400px;
    
}

#cloud2 {
    top: 400px;
    left: 600px;
    width: 150px;
}


#cloud3 {
    top: 500px;
    left: 550px;
    width: 150px;
    
}

#cloud4 {
    top: 300px;
}

#cloud5 {
    top: 150px;
    left: -400px;
    width: 150px;
}

#cloud6 {
    top: 550px;
    left: -200px;
    width: 150px;
}